/* Main styles */
h1, h2, h3 {
    font-family: 'Comfortaa', cursive;
}

h1 {
    font-size: 3em;
    text-align: center;
}

footer, p {
    font-family: 'EB Garamond', 'serif';
    font-size: 1.4em;
}

.niceform {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    margin: 20px;
    text-align: center;
}

.qrcode {
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 512px;
}

footer {
    margin: 45px;
    text-align: center;
}
